.wrap-footer {
  align-items: baseline;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.wrap-footer__detail {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
  }
}

// .wrap-footer__item {
//   display: block;
//   margin-right: 30px;
//    flex-basis: calc((50% - 45px) / 3);
// }

//   .wrap-footer__item:nth-child(3) {
// 	flex-basis: (50% - 15px);
// 	margin-right: 0;
//   }

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $background-slogan;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0px;
  }
}

.footer-list {
  margin-top: 20px;

  @media screen and (min-width: 480px) {
    margin-bottom: 60px;
  }
}

.footer-list__item {
  margin-top: 9px;

  //   &:nth-child(3) {
  //     flex-basis: calc(50% - 15px);
  //     margin-right: 0;
  //   }
}

.footer-form-title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $light;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-form__lable {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  display: flex;
  justify-content: center;
}

.footer-form__input {
  border: 1px solid $footer-form-bg-color;
  color: $footer-form-color;
  background-color: $background-slogan;
  border-radius: 4px;
  padding: 15px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 12px;

  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-form__submit {
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  background-color: $primary-color;
  box-shadow: 0px 4px 4px $box-shadow-submit;
  border-radius: 4px;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $light;
    background-color: $hover-color;
  }

  @media screen and (min-width: 480px) {
    display: inline-flex;

    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.footer-form__social-icon {
  margin-left: 10px;
  fill: $light;
}

/* ==================== */

.logoF {
  @include logo-value($btn-color);
  &:hover,
  &:focus {
    color: $btn-color;
  }
}

.footer-list__address {
  font-style: inherit;
  color: $btn-color;
}

.footer-list__footer-link {
  display: inline-block;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $color-zsix;
  padding: 0;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.linkA {
  font-size: 14px;
  color: $light;
}

/* ================ */

.ratical-part {
  @media screen and (min-width: 768px) {
    margin-left: 70px;
  }
}

.retical-social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-title-color;
  margin-bottom: 20px;
}

.social-footer {
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.fi-social {
  fill: $footer-social-color;
}

.fi-social-link {
  background-color: $footer-social-color-bg;
}
/* ================================ */

.footer-container {
  @media screen and (min-width: 480px) {
    text-align: center;
  }

  //   @media screen and (min-width: 768px) {

  //   }

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-form-wrap {
  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
