.contacts-container {
  list-style: none;
  text-align: start;
  // margin-left: auto;
  align-items: center;

  // border: 1px solid red;

  transition: $time-animation;

  // & .item + .item {
  // 	margin-bottom: 15px;
  // }

  @media screen and (max-width: 767px) {
    // margin-top: 302px;
    // margin-bottom: 64px;

    & .item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 84px;

    & .item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 300px;
    margin-bottom: 0px;

    & .item:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }
}

// .mobile-sb {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// }

.icon-mail {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 14px;
    height: 10px;

    background-size: contain;
    background-position: center;
    margin-right: 8px;
    fill: $title-text-color;

    transition: $time-animation;
  }

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.icon-smartphone {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;

    width: 10px;
    height: 14px;

    background-size: contain;
    background-position: center;
    margin-right: 8px;

    transition: $time-animation;
  }

  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}

.contacts-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: $title-text-color;
  fill: $title-text-color;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.172;
    text-align: start;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    display: inline-block;
    justify-content: baseline;
  }

  &:hover,
  &:focus {
    color: $accent-color;

    @media screen and (max-width: 479px) {
      font-size: 29px;
      line-height: 1.176;
    }

    @media screen and (min-width: 480px) and(max-width: 767px) {
      font-size: 34px;
      line-height: 1.176;
    }
  }

  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }
}

.contacts-links {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: $title-text-color;
  fill: $title-text-color;
  text-decoration: none;

  transition: $time-animation;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.172;
    text-align: start;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    justify-content: baseline;
  }

  &:hover,
  &:focus {
    color: $accent-color;

    @media screen and (max-width: 479px) {
      font-size: 29px;
      line-height: 1.176;
    }

    @media screen and (min-width: 480px) and(max-width: 767px) {
      font-size: 34px;
      line-height: 1.176;
    }
  }

  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }
}

.mobile-soclink {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  max-width: 480px;
  // border: 1px solid green;

  @media screen and (min-width: 480px) {
    justify-content: start;
  }

  @media screen and (max-width: 767px) {
    margin-top: 64px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  & .soclink {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    letter-spacing: 0.02em;

    color: $accent-color;

    &:not(:first-child) {
      @media screen and (min-width: 375px) {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
        padding-left: 5px;
      }

      @media screen and (min-width: 480px) {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
        padding-left: 10px;
      }
    }

    &:not(:last-child) {
      padding-right: 10px;
    }

    @media screen and (max-width: 374px) {
      font-size: 14px;

      // &:nth-child(-n + 2) {
      // 	margin-bottom: 15px;
      // }
    }

    @media screen and (max-width: 479px) {
      font-size: 14px;

      // &:nth-child(-n + 2) {
      // 	margin-bottom: 15px;
      // }
    }
  }
}
