/*
footer {
  background-color: var(--bg-color);
}
.flex {
  flex-basis: calc((50% - 15px) / 2);
}

.footer__logos {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--white-color-text);

  &:hover {
    color: var(--hover-color);
  }
}

.footer-logo__color {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);

  &:hover {
    color: var(--hover-color);
  }
}
.contact-links {
  &:hover {
    color: var(--hover-color);
  }
}

.footer__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background: var(--hover-color);
  color: var(--white-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--buttos-hover-color);
  }
}

.footer__main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__title {
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color-text);
  margin-bottom: 20px;
}
.footer-join__position {
  padding-top: 15px;
}
.footer__form input {
  width: 350px;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  align-items: center;
  letter-spacing: 0.03em;
}

.footer__subscribe {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  fill: var(--white-color-text);
}
.footer-form-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-color);
  border-radius: 4px;
  padding: 15px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 12px;
}

.footer__card {
  width: 231px;
  flex-basis: calc((50% - 15px) / 2);
  &:last-child {
    flex-basis: calc(50% - 15px);
  }
}

.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer-social__networks {
  width: 206px;
  padding-top: 15px;
}

.footer-social__list {
  display: inline-flex;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}
.footer-networks__list {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social-icon__color {
  fill: var(--white-color-text);
}

.footer__address {
  display: block;
  width: 231px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
  margin-bottom: 0px;

  letter-spacing: 0.03em;

  color: var(--white-color-text);
}

.footer-address__item {
  width: 225px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  padding-top: 9px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.link-current,
.link:hover,
.link:focus,
.contacts:focus,
.contacts:hover,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--hover-color);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
*/
.wrap-footer {
  align-items: baseline;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.wrap-footer__detail {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
  @media screen and (min-width: 1200px) {
    padding-bottom: 0px;
  }
}

.footer-list {
  margin-top: 20px;

  @media screen and (min-width: 480px) {
    margin-bottom: 60px;
  }
}

.footer-list__item {
  margin-top: 9px;

  //   &:nth-child(3) {
  //     flex-basis: calc(50% - 15px);
  //     margin-right: 0;
  //   }
}
.footer-form-title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color-text);

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-form__lable {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  display: flex;
  justify-content: center;
}
.footer-form__input {
  border: 1px solid var(--footer-form-bg-color);
  color: var(--footer-form-color);
  background-color: var(--bg-color);
  border-radius: 4px;
  padding: 15px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 12px;

  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.footer-form__submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background: var(--hover-color);
  color: var(--white-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--buttos-hover-color);
  }
  @media screen and (min-width: 480px) {
    display: inline-flex;

    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.footer-form__social-icon {
  margin-left: 10px;
  fill: var(--white-color-text);
}
.logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--hover-color);
  &:hover,
  &:focus {
    color: var(--buttos-hover-color);
  }
}
.logoF {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--white-color-text);
}
.footer-list__address {
  font-style: inherit;
  color: var(--white-color-text);
}

.footer-list__footer-link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-form-color);
  padding: 0;

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.linkA {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
  margin-bottom: 0px;
  letter-spacing: 0.03em;
  padding: 0;
  color: var(--white-color-text);
}
.logo {
  margin: 0;
}
.linkM {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.linkT {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.ratical-part {
  @media screen and (min-width: 780px) {
    margin-left: 70px;
  }
}

.retical-social-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-text);
  margin-bottom: 20px;
}
.social-footer {
  display: flex;
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}
.fi-social {
  fill: var(--white-color-text);
}
.fi-social-link {
  background-color: var(--footer-social-color-bg);
}
.footer-container {
  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.footer-form-wrap {
  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}
.social__item {
  width: 44px;
  height: 44px;
  background-color: transparent;
  margin-right: 10px;
}
.social__items {
  width: 44px;
  height: 44px;
  background-color: transparent;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-bottom: 30px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
