.page-header {
	position: relative;
	background: $primerry-bg-color;
	border-bottom: 1px solid #ececec;
	z-index: 101;
	// @media screen and (min-width: 768px) {
	// 	height: 80px;
	// }

	// padding-top: 24px;
	// padding-bottom: 25px;
}

.underline {
	position: relative;
	display: inline-block;
}

.page-header .nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 60px;

	@media screen and (min-width: 767px) {
		height: 80px;
		text-align: center;
	}
}

.menu_button {
	display: flex;
	margin: 0;
	padding: auto;
	border: none;
	width: 40px;
	height: 40px;
	padding: auto;
	border: none;
	background-color: transparent;

	background-position: center;

	justify-content: center;
	align-items: center;
	transition: $time-animation;

	// border: 1px solid red;

	// & .icon-cross {
	// 	display: none;
	// }

	// &.is-open .icon-cross {
	// 	display: block;
	// }

	// &.is-open .icon-menu {
	// 	display: none;
	// }

	@media screen and (min-width: 768px) {
		display: none;
	}

	&:hover .icon-menu,
	&:focus .icon-menu {
		fill: $accent-color;
	}
}
