.join-form {
  .join-title-form {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $primerry-bg-color;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-left: 92px;
    margin-top: 20px;
    text-align: left;
  }
}

.form {
  // display: inline-block;
  // width: 358px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;

    display: flex;
  }
}

.form-desk {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.join-form-field {
  font-size: 16px;
  line-height: 1.25px;

  color: rgba(255, 255, 255, 0.6);
}

.form-input {
  width: 100%;
  background-color: #2f303a;
  padding: 15px 0px 15px 16px;

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.join-title-form {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primerry-bg-color;
}
.btn-submit {
  margin-left: 12px;

  min-width: 200px;
  height: 50px;
  padding: 10px 28px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: start;
  align-items: center;

  background: $accent-color;
  color: $primerry-bg-color;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */

  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icon-subcribe {
  display: inline-block;
  position: absolute;
  transform: translateY(2px);

  height: 24px;
  width: 24px;
  margin-left: 10px;

  align-items: center;
  justify-content: center;
  fill: $primerry-bg-color;

  background-position: center;
}
