.modal-title-form {
  width: 100%;
  // height: 23px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  @media screen and (min-width: 1200px) {
    line-height: 1.172;
  }
}

textarea {
  resize: none;
}

.modal-form {
  width: 100%;
  height: 100%;
}

.form-field {
  // height: 58px;

  margin-top: 10px;
  display: flex;
  flex-direction: column;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  color: $title-text-color;
}

.form-comment {
  width: 100%;
  // height: 138px;
  margin-top: 10px;
}

.policy-field {
  width: 100%;
}

.form-label {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;

  color: $title-text-color;

  transition: $time-animation;
}

.modal-input {
  min-height: 38px;
  margin-top: 3px;
  padding: 0px 0px 0px 42px;
  background-color: $primerry-bg-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: $time-animation;

  &:hover {
    border: 1px solid $accent-color;
  }

  // & + .icon-form:hover {
  // 	border: 1px solid $accent-color;
  // }
}

.comment {
  margin-top: 3px;
  width: 100%;
  height: 118px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: $time-animation;

  &:hover {
    border: 1px solid $accent-color;
  }
}

.placeholder {
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;

  color: $placeholder-color;
}

.policy-link {
  display: inline-block;

  /* margin-top: 20px; */
  color: $accent-color;
  text-decoration: underline;
}

.modal-submit {
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  min-width: 200px;
  padding: 10px 28px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;

  background: $accent-color;
  color: $primerry-bg-color;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */

  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: $time-animation;

  &:hover,
  &:focus {
    background-color: #188ce8;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

.icon-form {
  position: absolute;

  left: 55px;
  transform: translateY(175%);

  width: 18px;
  height: 18px;

  transition: $time-animation;

  &:hover {
    fill: $accent-color;
  }

  .modal-input:hover ~ &,
  .modal-input:focus ~ & {
    fill: $accent-color;
  }
}
