.our-team {
	background-color: rgba(245, 244, 250, 1);

	& .section-title-team {
		font-weight: bold;
		font-size: 28px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: 0.03em;

		@media screen and (min-width: 1200px) {
			font-size: 36px;
		}
	}
}

.section-title-team {
	margin-bottom: 50px;
}

.list-title-team {
	// display: flex;

	// margin-left: -30px;
	list-style: none;
	justify-content: center;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;

		margin-left: -30px;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
	}

	& .item-team {
		// margin-top: 50px;
		// margin-left: 30px;
		// flex-basis: calc(100% / 4 - 30px);

		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;

		@media screen and (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		@media screen and (min-width: 768px) {
			// width: 50%;

			margin-left: 30px;
			flex-basis: calc(100% / 2 - 30px);
		}

		@media screen and (min-width: 1200px) {
			flex-basis: calc(100% / 4 - 30px);
		}

		&:nth-child(-n + 2) {
			@media screen and (min-width: 768px) and (max-width: 1199px) {
				margin-bottom: 30px;
			}
		}
	}
}

.member-team {
	padding: 30px 32px;
	background-color: $primerry-bg-color;

	& .team-title {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.03em;
		text-align: center;
	}
}

.team-title-text {
	margin-top: 10px;
	color: $title-text-color;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	text-align: center;
}

.member-list {
	margin-right: -10px;
	display: flex;
	margin-top: 16px;
	/* flex-direction: row; */
	align-items: center;
	justify-content: center;

	transition: $time-animation;

	& :hover,
	& :focus {
		background-color: $accent-color;
	}

	& :hover svg,
	& :focus svg {
		fill: $primerry-bg-color;
	}
}

.member-icon {
	margin-right: 10px;
	// width: calc(100% / 4 - 10px);
	border-radius: 50%;

	transition: $time-animation;
}

.member-link-network {
	display: flex;
	width: 44px;
	height: 44px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	transition: $time-animation;

	& .member-icon-network {
		width: 20px;
		height: 20px;

		display: inline-block;
		background-position: center;
		background-repeat: no-repeat;

		fill: rgba(175, 177, 184, 1);

		transition: $time-animation;
	}
}
