.client__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-black-color);

  margin-bottom: 50px;
  margin-top: 94px;
}

.icon__client {
  fill: var(--social-team-icon-color);

  &:hover,
  &:focus {
    fill: var(--hover-color);
    border: 1px solid var(--hover-color);
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.client__position a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-team-icon-color);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__section {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.client-icon__position {
  padding-left: 0;
}
.client-icon-position__item {
  width: 170px;
  height: 90px;
  display: inline-grid;
  margin-right: 30px;
}

.client:hover .icon__client,
.client:focus .icon__client {
  stroke: var(--hover-color);
}

.grid {
  display: flex;

  justify-items: center;
  align-items: center;
  justify-content: space-around;

  margin-top: 0;
  margin-bottom: 94px;
}

.grid-item.client-icon-position__item.client-icon__position.grid {
  flex-basis: calc((100% - 30px * 6) / 6);
  margin-top: 30px;
  margin-left: 30px;
}
