.list-title-filters {
  margin-top: 19px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.list-title-projects {
  background-color: $primerry-bg-color;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // @media screen and (min-width: 480px) {
  // 	&:not(:last-child) {
  // 		margin-bottom: 30px;
  // 	}
  // }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 30px;
    }

    /*  Задаём ширину элементов  */
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(-n + 2) {
      margin-right: 30px;
      margin-bottom: 30px;
    }

    /*  Задаём ширину элементов  */
    flex-basis: calc(100% / 3 - 30px);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-overlay {
  position: relative;
  overflow: hidden;

  // @media screen and (min-width: 480px) {
  // 	padding: 24px, 49px;
  // }
}

.overlay-text {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 24px;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  justify-content: center;
  align-items: center;
  text-align: start;

  color: $primerry-bg-color;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(+101%);
  transition: $time-animation;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 77px 24px;
    font-size: 18px;
  }

  @media screen and (min-width: 768px) {
    padding: 45px 24px;
    font-size: 19px;
  }

  .list-title-filters :hover &,
  .list-title-filters :focus & {
    transform: translateY(0);
  }
}

.card-projects {
  transition: $time-animation;
}

.projects-description {
  padding: 24px 18px;

  border-right: 1px solid rgba(238, 238, 238, 0.8);
  border-bottom: 1px solid rgba(238, 238, 238, 0.8);
  border-left: 1px solid rgba(238, 238, 238, 0.8);
}

.projects-title {
  padding-bottom: 5px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.028em;

  @media screen and (min-width: 1200px) {
    letter-spacing: 0.06em;
  }
}

.type-projects {
  font-size: 16px;
  line-height: 1.87;

  box-shadow: none;
}
