.section.team {
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team {
  background-color: $btn-bg-color;
}

.team-title {
  @media screen and (min-width: 480px) {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    padding-bottom: 30px;
  }
}

.team-list {
  @media screen and (min-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.team-list__info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: $paragraph-color;
}

.team-list__member {
  background-color: $team-member-bg;
  box-shadow: $card-shadow;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

//
// social

.social {
  @include center();
  list-style: none;
  padding-bottom: 30px;
}

.social__item {
  width: 44px;
  height: 44px;
  background-color: transparent;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  @include center();
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: $icon-team-color;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $icon-team-fill-hover;
    background-color: $primary-color;
  }
}

//   social

// team svg icon end

// rotate

.team-list__rotate-card .team-list__thumb {
  backface-visibility: hidden;
}

.team-list__rotate-card .team-list__back {
  transform: rotateY(180deg);
}

.team-list__back {
  position: absolute;
  top: 20%;
  padding-right: 15px;
  padding-left: 15px;
}

.team-list__back-title {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.team-list__back-title-span {
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
}
// rotate end
// =================================
