$primary-color: #2196f3;
$hover-color: #188ce8;
$box-shadow: rgba(0, 0, 0, 0.15);
$main-color: #212121;
$paragraph-color: #757575;
$background-slogan: #2f303a;
$btn-color: #fff;
$color-zsix: rgba(255, 255, 255, 0.6);
$color-link: #757575;
$color-active: #b93fd28f;
$btn-bg-color: #f5f4fa;
$card-set-gap: 30px;
$card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

$card-border-color: #eeeeee;
$header-overlay: rgba(47, 48, 58, 0.4);
$header-background-color: #c4c4c4;
$icon-merits-color: #f5f4fa;
$icon-heder-color: #757575;
$team-member-bg: #ffffff;
$icon-team-color: #afb1b8;
$icon-team-fill-hover: #fff;
$social-hover-color: #2196f3;
$secondary-title-color: #fff;
$footer-social-color: #fff;
$footer-social-color-bg: rgba(255, 255, 255, 0.1);
$btn-portfolio-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.22),
  0px 4px 4px rgba(0, 0, 0, 0.16), 1px 4px 6px rgba(0, 0, 0, 0.26);
$clients-color-icon: #afb1b8;
$portfolio-list__text-overlay: #fff;
$busuness-card-name-bg: rgba(47, 48, 58, 0.8);
$busines-card-title-color: #fff;
$light: #fff;
$modal-color-border: rgba(33, 33, 33, 0.2);
$modal-color: #757575;
$back-drop-color: rgba(0, 0, 0, 0.1);
$text-area-color: rgba(117, 117, 117, 0.5);
$rotate-container-color: rgba(191, 126, 33, 0.5);
$footer-form-bg-color: rgba(255, 255, 255, 0.3);
$footer-form-color: rgba(255, 255, 255, 0.6);
$box-shadow-submit: rgba(0, 0, 0, 0.15);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

// @media screen and (min-width:480px) {

// }

// @media screen and (min-width:768px) {

// }

// @media screen and (min-width:1200px) {

// }
