:root {
  --background-color: #fff;
  --primary-text-color: #757575;
  --hover-color: #2196f3;
  --title-color: #212121;
  --white-color-text: #ffffff;
  --text-black-color: #000000;
  --bg-color: #2f303a;
  --buttos-hover-color: #188ce8;
  --our-backgraund-color: #f5f4fa;
  --portfolio-background-color: #e5e5e5;
  --social-team-icon-color: #afb1b8;

  --card-set-gap: 30px;
  --card-shadow-hover: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --card-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
  --foto-bg-color: rgba(47, 48, 58, 0.8);
  --animation: 300ms ease-in;
  --animations: #188ce8;
  --modal-color-border: rgba(33, 33, 33, 0.2);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%);
}
